
   .red-text { color: var(--red-text); }
   .gray-text { color: var(--gray-text); }
   .white-text { color: var(--white-text); }
   
   .black-container { background-color: var(--black-background); }
   .second-black-container { background-color: var(--second-black-background); }
   
   /* Decorative bits */
   div.activeBox {
	 background: linear-gradient(
	   180deg,
	   hsla(198, 75%, 35%, 0) 0%,
	   rgba(255, 154, 141, 0.38) 89.06%,
	   rgba(255, 154, 141, 0.51) 100%
	 );
   }
   
   
   .back-icon {
	 position: absolute;
	 z-index: -1;
	 transform: scale(0.3);
	 fill: var(--icons-colors);
	 opacity: 0.1;
   }
